	/*---Код для декількох блоків---*/
	body, header, nav, main-part, instruction, tourList, reviews, mailing-form, footer{
		margin:0px;
		padding:0px;
	}
	.centerPlacer-header, .centerPlacer-main{
		margin:0px auto;
		padding:0px;
	}
	
	
	
	body { 
		margin:auto;
		min-width: 1900px;
		max-width: 2850px;
		background: #24b0f4 url(img/beach.jpg);
		background-size: cover;
		background-attachment: fixed;
		height:5766px;
	}
	
	
	
	/*---Класи для header---*/
	.centerPlacer-header {
		position:relative;
		width:80%;
	}
	header	{
		position:relative;
		height: 40px; 
		width: 100%;  
		background:	#154b67;
		font: 12pt arial;
		color:white;
	}
	.headerContainer-single {
		position:relative;
		display:flex;
		float:left;
		height:40px;
		width:12.5%;
		box-sizing:border-box;
		border-right:2px #265c78 solid;
	}
	.headerContainer-end {
		display:flex;
		float:left;
		height:40px;
		width:12.5%;
	}
	.headerContainer-double {
		display:flex;
		float:left;
		height:40px;
		width:25%;
		box-sizing:border-box;
		border-right:2px #265c78 solid;
	}
	
	
	
	/*---Класи для nav---*/
	nav	{
		top:0px;
		height: 70px; 
		width: 100%;  
		background:	#86c2d9;
		position: sticky;
		z-index: 9999;
		font: 12pt arial;
	}
	.navContainer{
		position:relative;
		float:left;
		height:70px;
		width:12.5%;
		padding:0px 10px;
		box-sizing:border-box;
		border-right:2px #75b1c8 solid;
		display: inline-block;
	}
	.navContainer-noborder{
		position:relative;
		float:left;
		height:70px;
		width:12.5%;
		padding:0px 10px;
		position: relative;
		box-sizing:border-box;
		display: inline-block;
	}
	.dropdown-content {
		position:relative;
		left:-10px;
		width:112%;
		display: none;
		background-color: #f1f1f1;
		box-sizing:border-box;
		z-index: 1;
	}
	
	
	
	/*---Клас стартового вікна---*/
	.startScreen{
		position:relative;
		height: 859px; 
		margin:0px auto;
		width:100%;
		opacity: 0.6;
		background: #505050;
		font: 25pt arial;
		color:white;
	}
	.titlePlacer{
		width:50%;
		height:20%;
		margin:0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}
	
	
	
	/*---Класи для головної частини---*/
	.main-part{
		bottom:10px;
		position:relative;
		width:100%;
		height:4387px;
	}
	.background{
		position:relative;
		width:80%;
		height:4387px;
		background:#478fb3;
		margin:0 auto;
	}
	.centerPlacer-main{
		position:relative;
		width:80%;
		height:4387px;
	}
	
	
	
	/*---Класи для блоку instruction---*/
	.instruction{
		position:relative;
		height:504px;
	}
	.blockTitle{
		position:relative;
		display: flex;
		align-items: center;
		justify-content:center;
		height:60px;
		top:10px;
		margin:10px auto;
		background:#ffffff;
		border-radius:30px;
		border:2px #bbbbbb solid;
		font:30px arial;
		color:black;
		box-sizing:border-box;
	}
	.row-height-400{
		position:relative;
		top:20px;
		margin:10px auto;
		display:flex;
		flex-direction: row;
		justify-content:space-around;
		height:400px;
	}
	.textBlock {
		position:relative;
		display:block;
		height:400px;
		width:32%;
		background:#ffffff;
		border-radius:30px;
		border:2px #bbbbbb solid;
		font:17px arial;
		color:black;
		text-align:center;
		box-sizing:border-box;
	}
	
	
	
	/*---Класи для блоку tourList---*/
	.tourList {
		position:relative;
		height:2380px;
	}
	.row{
		position:relative;
		margin:20px auto;
		display:flex;
		flex-direction: row;
		justify-content:space-around;
		height:500px;
	}
	.tourCard{
		position:relative;
		display:block;
		float:left;
		height:500px;
		width:354px;
		background:#ffffff;
		border-radius:30px;
		border:2px #bbbbbb solid;
		font:17px arial;
		color:black;
		text-align:center;
	}
	
	
	
	/*---Класи для блоку introduction---*/
	.introduction{
		position:relative;
		height:504px;
	}
	
	
	
	/*---Класи для блоку reviews---*/
	.reviews {
		position:relative;
		height:550px;
	}
	
	
	
	/*---Класи для блоку mailing-form---*/
	.mailing-form{
		position:relative;
		height:419px;
	}
	
	
	
	/*---Класи для блоку footer---*/
	footer{
		position:relative;
		width:100%;
		height:350px;
		top:-10px;
		background:#154b67;
	}
	.centerPlacer-footer {
		position:relative;
		width:80%;
		height:350px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		font:12pt arial;
	}
	.footText{
		float:left;
		height:350px;
		width:25%;
		margin:0;
	}
	
	
	
	/*---Класи для блоку copyright-block---*/
	.foot-bottom {
		position:relative;
		top:-10px;
		height:60px;
		width: 100%;
		background:#0e3144; 
	}
	.copyright-block{
		position:relative;
		height:60px;
		width: 80%;
		margin:0 auto;
		color:white;
		font:12pt arial;
	}